.pkduration
{
    font-size: xx-large;
}
.pkname
{
    font-family: Georgia, 'Times New Roman', Times, serif;
   
    font-size: xx-large;
}
.pktext
{
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
.pkdes
{
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}