<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <title>Tourism Package Form</title>
</head>

<body class="bgfont ">
    <div class="background-image ">
        <img src="assets/images/card1.jpeg" alt="Static Image" width="100%" height="100%">
    </div>
    <div class="container ">
        <div class="row mb-5">
            <div class="col-md-6">
                <div class="custom-form">
                    <h2>Add Package Details</h2>
                    <form [formGroup]="packageForm" (ngSubmit)="onSubmit()">
                    
                     
                        <div class="mb-3">
                            <label for="packageName" class="form-label">Package Name</label>
                            <input type="text" class="form-control" id="packageName" formControlName="packageName" placeholder="Enter Package name">
                        </div>
                        <!-- <div *ngIf="!packageForm.get('packageName')?.valid && (packageForm.get('packageName')?.dirty ||packageForm.get('packageName')?.touched)">
                            <div [hidden]="!packageName.errors?.['required']">
                              First Name is required
                            </div> 
                        </div>-->
                        <!-- <div class="mb-3">
                            <label for="image" class="form-label">Image Upload</label>
                            <input type="file" class="form-control" id="image" formControlName="imageUrl" >
                        </div> -->
                        <div class="mb-3">
                            <label for="spot" class="form-label">Spot</label>
                            <input type="text" class="form-control" id="spot" formControlName="spotName" placeholder="Enter spot name">
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="description" rows="3"
                                formControlName="packageDescription1" placeholder="Enter description"></textarea>
                        </div>
                        
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="description" rows="3"
                                formControlName="packageDescription2" placeholder="Enter description"></textarea>
                        </div>
                       
                    </form> 
                </div>
             </div>
            <div class="col-md-6">
                <div class="custom-form">
                      <form [formGroup]="packageForm" (ngSubmit)="onSubmit()" >   
                        
 
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                             <textarea class="form-control" id="description" rows="3"
                                formControlName="packageDescription3" placeholder="Enter description"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="state" class="form-label">State</label>
                            <select class="form-select" id="state" formControlName="regionId">
                                <option value="3">Delhi</option>
                                <option value="4">Kerala</option>
                                <option value="5">Goa</option>
                                <option value="6">Andaman</option>
                                <option value="7">Ladakh</option>
                                <option value="8">Allahabad</option>
                            </select>
                        </div>
                        
                        <div class="mb-3">
                            <label for="duration" class="form-label">Duration</label>
                            <input type="text" class="form-control" id="duration" formControlName="packageDuration" placeholder="Enter duration">
                        </div>
                        <div class="mb-3">
                            <label for="price" class="form-label">Price</label>
                            <input type="text" class="form-control" id="price" formControlName="packagePrice" placeholder="Enter price">
                        </div>
                        <!-- <div *ngIf="!packageForm.get('price').valid && (packageForm.get('price').dirty || packageForm.get('price').touched)">
                            <div [hidden]="!packageForm.get('price').errors?.['required']">
                              Price is required
                            </div>
                            <div [hidden]="!packageForm.get('price').errors?.['pattern']">
                              Only numbers are allowed for Price
                            </div>
                          </div>
                         -->
                        <button type="submit" [disabled]="!packageForm.valid" class="btn btn-success btn-block">Submit</button>
                    </form> 
                </div>
            </div>
        </div> 
    </div>
</body>
<!-- 
<pre>Value : {{packageForm.value | json }} </pre>
<pre>Valid : {{packageForm.valid}} </pre>
<pre>Touched : {{packageForm.touched  }} </pre>
<pre>Errors : {{packageForm.errors  }} </pre> -->

</html>
