<footer class="bg-dark text-light py-4 " >
    <div class="container">
      <div class="row">
          <div class="col-md-4">
              <h4>Head Office </h4>
              <hr>
              <address>
                  "We Travel" Holidays ,<br>
                 Novel Tech Park,<br>
                  Opposite to 1 MG Mall,<br>
                  MG Road, Bangalore – 560042<br>
                 Karnataka, India.
              </address>
            </div>
        <div class="col-md-4">
          <h4>Our Branches </h4>
          <hr >
          Chennai<br>
          Erode<br>
          Coimbatore<br>
  
        </div>
        <div class="col-md-4">
          <h4>Quick Links</h4>
          <hr>
          <ul class="list-unstyled">
            <li><a [routerLink]="['home']" style="text-decoration: none;color:white">Home</a></li>
            <li><a [routerLink]="['packages']" style="text-decoration: none;color:white">Packages</a></li>
            <li><a [routerLink]="['abputus']" style="text-decoration: none;color:white">Contact</a></li>
          </ul>
        </div>
        
      </div>
      <br>
      
      <div class="row">
          <div class="col-md-4">
              <div class="row">
                  <div class="col-1">
                      <div class="d-inline-block align-middle mr-2 border border-light" style="height: 80px;"></div>           
                  </div>
                  <div class="col-11">
                      <p>Call us</p>
                      <p>+91 9940882200</p>
                  </div>
              </div>
             
            </div>
        <div class="col-md-4">
          <div class="row">
              <div class="col-1">
                  <div class="d-inline-block align-middle mr-2 border border-light" style="height: 80px;"></div>           
              </div>
              <div class="col-11">
                  <p>Email us</p>
                  <p class="name1"><i class="bi bi-envelope-at">&nbsp;</i>wetravel@gmail.com </p>
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
              <div class="col-1">
                  <div class="d-inline-block align-middle mr-2 border border-light" style="height: 80px;"></div>           
              </div>
              <div class="col-11">
                  <p>Follow us</p>
                  <p><i class="bi bi-facebook"></i>&nbsp;&nbsp;&nbsp;<i class="bi bi-youtube"></i>&nbsp;&nbsp;&nbsp;<i class="bi bi-instagram"></i></p>
              </div>
          </div>
        </div>
        
      </div>
  
  

      <div class="text-center">
        <hr style="width: 100%;">
        <p>&copy; 2023 Your Tourism Management. All rights reserved.</p>
      </div>
    </div>
  </footer>
  
  