i,
.name1 {
  font-size: x-large;
}
h4,
.name1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
hr {
  width: 25%;
  height: 2px; /* Change this value to your desired height */
  background-color: #ffffff;
  border: white;
}
footer{
  font-family: Georgia, "Times New Roman", Times, serif;
}